<div class="wrapper">
  <div class="section-2">
    <ul class="list-menu">
      <li
        class="item-menu d-flex"
        [routerLink]="item.router"
        routerLinkActive="router-link-active"
        *ngFor="let item of mainMenu.defaultOptions"
      >
        <div class="icon">
          <i [ngClass]="['uil', item.icon]"></i>
        </div>
        <span class="link">{{ item.name }}</span>
      </li>
    </ul>
  </div>

  <div class="cv-btn" *ngFor="let item of linkCv">
    <a [href]="item.link" target="_blank"
      ><button>{{ item.name }}</button></a
    >
  </div>
</div>
