<div class="d-flex flex-wrap">
  <div
    class="block-projects animate__animated animate__fadeInUp col-12 col-sm-12 col-md-12 col-lg-5"
    *ngFor="let item of tech"
  >
    <div class="block-projects-in d-flex flex-wrap">
      <div class="icon-tech">
        <i
          [ngClass]="['uil', item.icon]"
          style="font-size: 5rem; margin-left: 1rem"
        ></i>
      </div>
      <div class="content-progress">
        <div class="title-tech d-flex">{{ item.name }}</div>
        <div class="progress-tech d-flex">
          <div class="progress-container">
            <div
              class="level"
              [style.width.%]="[item.width]"
              [style.background-color]="item.color"
            >
              {{ item.percent }}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
