.block-projects {
  height: 20rem;

  display: block;
  padding: 0.3rem;
  margin: 0.8rem auto;
}

.block-projects-in {
  border: 1px solid rgba(128, 128, 128, 0.089);
  width: 80%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 0.9em;
}

.img-project {
  /* background-color: aqua; */
  height: 12rem;
  padding: 0.5rem;
}

.description-img {
  /* background-color: violet; */

  height: 5rem;
  padding: 0.2rem;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  width: 50%;
  height: 0.9rem;
  background-color: antiquewhite;
}

.icon-tech {
  /* background-color: aqua; */
  width: 30%;
  display: flex;
  align-items: center;
}

.content-progress {
  /* background-color: azure; */
  width: 70%;
  height: 4rem;
}
.title-tech {
  /* background-color: antiquewhite; */
  height: 3rem;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding-left: 5rem;
}
