<div class="wrapper d-flex">
  <!-- Section cards experience -->
  <section class="wrapper-experience">
    <h1 class="title-experience">
      {{ capitalizeInfoCompany(experienceTitle) }}
    </h1>
    <ul>
      <li *ngFor="let workExp of experienceObj">
        <div class="card-experience">
          <img
            loading="lazy"
            srcset="
              {{workExp.logoCompany}}   320w,
              {{workExp.logoCompany}}   768w,
              {{workExp.logoCompany}} 1024w
            "
            sizes="(max-width: 768px) 100vw, 50vw"
            [src]="workExp.logoCompany"
            class="logo-company"
            alt="img-company"
          />
          <div class="container-company">
            <p class="date-company">
              {{ workExp.dateExp }}
            </p>
            <h3 class="position-work">
              {{ capitalizeInfoCompany(workExp.positionWork) }}
            </h3>
            <h4 class="name-company">
              {{ workExp.titleCompany }}
            </h4>
            <p
              class="descript-experience"
              [innerHTML]="workExp.descriptExp"
            ></p>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- Section text contact -->
  <section class="wrapper-contact">
    <h3 class="title-contact">
      {{ capitalizeInfoCompany(connectMessage) }}
    </h3>
    <p class="contact-text">{{ textConnect }}</p>
  </section>
  <!-- Section divider -->
  <section class="wrapper-divider">
    <span class="copyright">Copyright © adrianmachado.</span>
  </section>
</div>
