<div class="wrapper animate__animated animate__fadeInUp">
  <div class="wrapper-exp">
    <div class="exp-moby">
      <div class="logo-emp">
        <img src="../../assets/images/moby.jpg" alt="" />
      </div>
      <div class="info-emp">
        <div class="title-emp">
          <div class="subtitle-emp">MobyDigital - Angular Developer</div>
          <div class="time-emp">Apr 2022 - Jun 2022</div>
        </div>
        <div class="text-emp">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          possimus. Minus vitae pariatur et nemo, necessitatibus quisquam
          blanditiis repellat voluptate cumque recusandae quo quasi aut sed.
          Obcaecati in autem ullam.
        </div>
      </div>
    </div>
  </div>
</div>
