<div class="wrapper">
  <div class="logo animate__animated animate__bounceInDown">
    <a href="/">
      <img
      loading="lazy"
      srcset="../../assets/logo-new/logo-adrian.webp"
      class="img-logo shimmer"
      alt="logo-adrianmachado"
    />
    </a>
  </div>
  <div class="pre-title">Hola, soy Adrián</div>
  <br />
  <h1 #asTitle class="subtitle"></h1>
  <br />

  <!-- Header initial -->
  <div class="header-initial">
    <h1 class="header-style">COMIENZOS</h1>
  </div>

  <p class="margin-text">
    Soy desarrollador frontend, inicié mi carrera en 2017 como diseñador web. A
    raíz de esto fue donde despertó la pasión por la tecnología. Luego de este
    comienzo, me adentré en la programación, perfeccionando mis habilidades en
    Angular y tecnologías modernas de frontend.
  </p>
  <br />

  <!-- experience -->
  <div class="header-initial">
    <h1 class="header-style">EXPERIENCIA LABORAL</h1>
  </div>

  <p class="margin-text">
    En 2022, inicié mi primer proyecto en el sector IT como Desarrollador Angular Trainee, enfocándome en la creación de un dashboard para el equipo de Recursos Humanos. Este proyecto representó una excelente oportunidad para desarrollar mis habilidades técnicas y comprender los desafíos reales en el entorno profesional. Fue una experiencia enriquecedora que me permitió adquirir un conocimiento profundo de Angular y mejorar mis habilidades en desarrollo de interfaces.
  </p>

  <p class="margin-text">
    En 2023, me uní al desarrollo de <strong>FusionPax</strong>, un sistema avanzado para el sector turístico creado con Angular, que permite la reserva de múltiples productos, como hoteles, tours y diversas categorías. Actualmente, sigo trabajando en este proyecto, donde he tenido la oportunidad de ampliar mis conocimientos en desarrollo web y contribuir de manera significativa al equipo con mis habilidades y experiencia.
  </p>
  <br />

  <nav>
    <ul>
      <li *ngFor="let link of links">
        <a
          class="links-social"
          [href]="link.link"
          role="link"
          [attr.aria-label]="link.message"
          target="_blank"
        >
          <span class="tooltip-text">{{ link.message }}</span>
          <i class="glow" [ngClass]="link.icon"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
