<div class="wrapper">
  <div class="avatar animate__animated animate__fadeInUp">
    <img src="../../../assets/avatar.jpg" class="img-avatar" alt="" />
  </div>
  <div class="pre-title animate__animated animate__fadeInUp">
    Hola, soy Adrián
  </div>
  <br />
  <h2 #asTitle class="subtitle animate__animated animate__fadeInUp"></h2>

  <br />
  <p class="animate__animated animate__fadeInUp">
    El camino que seguí para formarme en los distintos
    <strong> conocimientos</strong>, fue a raíz de un curso de diseño web, en
    donde despertó la pasión por la tecnología. Actualmente, me encuentro
    cursando la carrera en programación.
  </p>
  <br />

  <p class="animate__animated animate__fadeInUp">
    Tuve la oportunidad de reflejar mis conocimientos y obtener mi primera
    experiencia laboral en el sector IT
  </p>
  <br />

  <p class="animate__animated animate__fadeInUp">
    Actualmente me encuentro en búsqueda de un nuevo desafio laboral como
    <strong>Angular Developer</strong> y tener la posibilidad de seguir
    creciendo.
  </p>
  <br />
  <p class="animate__animated animate__fadeInUp">
    Actualmente me encuentro en búsqueda de un nuevo desafio laboral como
    <strong>Angular Developer</strong> y tener la posibilidad de seguir
    creciendo.
  </p>

  <div class="link-wrapper animate__animated animate__fadeInUp">
    <div class="links d-flex col-12 col-lg-1">
      <div class="block" *ngFor="let linkObj of links">
        <a [href]="linkObj.link" target="_blank">
          <div class="block-in">
            <span [innerHTML]="linkObj.icon"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
