<div class="d-flex flex-wrap justify-content-center">
  <div class="container-title">
    <div class="arrow-back button" (click)="backToTech()">
      <i class="uil uil-arrow-left"></i>
    </div>
    <h3 class="title-project">
      PROYECTOS EN
      {{ nameParam }}
    </h3>
  </div>

  <!-- Section Angular -->
  <app-section
    [frameworks]="arrayProjects"
    [typeFramework]="'angular'"
    [nameParam]="nameParam"
  >
  </app-section>

  <app-section
    [frameworks]="arrayAstro"
    [typeFramework]="'astro'"
    [nameParam]="nameParam"
  >
  </app-section>
</div>
